.embiggen p {
  font-size: 1.5em
}

.embolden p {
  font-weight: bold
}

.codefont pre {
    font-size: 1.5;
    font-weight: bold;
    color: blue
}

.colortext p {
  color: blue
}

.vertical {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-85%);
}
