h1, h2, h3 {
  font-size: 2em;
  color: black;
}

p, li {
  font-size: 1.50em;
  color: black;
}

.embolden p {
  font-weight: bold;
}

.codefont-big pre {
    font-size: 1.25em;
    font-weight: bold;
    color: blue;
}

.codefont-small pre {
    font-size: .75em;
    font-weight: bold;
    color: blue;
}


.colortext p {
  color: blue;
}

.vertical {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-60%);
}

.vertical-high {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-85%);
}
