h1, h2, h3 {
  font-size: 2em;
}

h1, h2, h3, p, li {
  color: black;
}

.embiggen p, li {
  font-size: 1.50em;
}

.embolden p {
  font-weight: bold;
}

.codefont-big pre {
    font-size: 1.5;
    font-weight: bold;
    color: blue;
}

.codefont-small pre {
    font-size: .75;
    font-weight: bold;
    color: blue;
}


.colortext p {
  color: blue;
}

.vertical {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-60%);
}

.vertical-high {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-85%);
}
